<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Management Systems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>BOOST-HUB</h1>
            <h2>DATABASE MANAGEMENT SYSTEMS | CSC - 204</h2>
        </header>
        <main>
            <img src="{{ url_for('static', filename='img/ERD_Final.png') }}" alt="Entity Relationship Diagram" class="center">
            <a href="{{ url_for('alter') }}" class="btn">ALTER TABLES</a>
        </main>
        <footer>
            <p>Project Members:</p>
            <ul>
                <li>Umar Ayaz | 22FA - 008 - CS</li>
                <li>Yasir Jamal | 22FA - 015 - CS</li>
                <li>Sania Tehseen | 22FA - 018 - CS</li>
                <li>Anuf Jabeen | 22FA - 019 - CS</li>
                <li>Zeeshan Ali Khan | 22FA - 026 - CS</li>
            </ul>
        </footer>
    </div>
</body>
</html>